<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Error</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">


    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top" th:fragment="content">

    <div class="content  ">
        <div class="card text-center  ">
            <div class="card-header">

            </div>
            <div class="card-body">
                <h5 class="card-title">Error</h5>
                <p class="card-text">Usuario ya registrado</p>
                <a sec:authorize="hasAuthority('ADMIN')" href="/registrar" class="btn btn-danger">Regresar</a>
            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
    </div>











    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/js/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>